<a href="https://colab.research.google.com/github/rodrigodemend/Diagnostico-de-Dados-Clinicos-com-Machine-Learning/blob/main/Notebooks/Importa%C3%A7%C3%A3o_e_Limpeza_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [204]:
import pandas as pd
import numpy as np

In [10]:
dados = pd.read_csv('https://raw.githubusercontent.com/rodrigodemend/Diagnostico-de-Dados-Clinicos-com-Machine-Learning/main/Data/Raw/Kaggle_Sirio_Libanes_ICU_Prediction.csv',
                    sep =';')
dados.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                         0            1  ...       0-2    0
1                         0            1  ...       2-4    0
2                         0            1  ...       4-6    0
3                         0            1  ...      6-12    0
4                         0            1  ...  ABOVE_12    1

[5 rows x 231 columns]

In [135]:
dados.describe()

       PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...  DIMER_DIFF          ICU
count               1925.000000  1925.000000  ...       821.0  1925.000000
mean                 192.000000     0.467532  ...        -1.0     0.267532
std                  111.168431     0.499074  ...         0.0     0.442787
min                    0.000000     0.000000  ...        -1.0     0.000000
25%                   96.000000     0.000000  ...        -1.0     0.000000
50%                  192.000000     0.000000  ...        -1.0     0.000000
75%                  288.000000     1.000000  ...        -1.0     1.000000
max                  384.000000     1.000000  ...        -1.0     1.000000

[8 rows x 49 columns]

## Eliminando os valores faltantes

In [185]:
def removendo_pacientes_com_vazamento_de_dados(dados):
  # Criando um set que irá servir para selecionar os pacientes para remover
  pacientes_para_remover = set()

  # Rodando um for para cada paciente
  for paciente, dados_do_paciente in dados.groupby('PATIENT_VISIT_IDENTIFIER', as_index=False):
    
    # Rodando um for para cada coluna 
    # Aqui vamos achar os pacientes onde o primeiro valor válido naquela coluna já estão na ICU
    # e para que não tenha vazamento de dados, iremos adicionar o paciente no set para removê-los
    for coluna in dados_do_paciente.columns:

      # Pulando a coluna ICU pois não queremos analisa-la
      if coluna != 'ICU':

        # Selecionando apenas a coluna que estamos analisando e a coluna ICU
        # dropna irá remover todas as linhas onde existem valores nulos, porém como só pode
        # existir valores nulos na coluna que estamos analisando, a primeira linha que irá retornar
        # será o primeiro valor válido daquela coluna
        dados_sem_NaN = dados_do_paciente[[coluna, 'ICU']].dropna().reset_index(drop=True)
        
        # Caso exista algum valor válido para a coluna, irá entrar no if
        if dados_sem_NaN.shape[0] > 0:

          # Verificando se o paciente está na ICU no primeiro valor válido para a coluna
          if dados_sem_NaN.iloc[0]['ICU'] == 1:
            
            # Adicionando o paciente para poder removê-lo
            pacientes_para_remover.add(paciente)
        
        # Caso o paciente tenha a coluna inteira nula, irá para o else
        else:
          
          # Adicionando o paciente para poder removê-lo
          pacientes_para_remover.add(paciente)

  # Retornando apenas os dados sem os pacientes que selecionamos para remover
  return dados[~dados['PATIENT_VISIT_IDENTIFIER'].isin(pacientes_para_remover)]

Removendo os pacientes com vazamento de dados no bfill

In [189]:
dados_sem_pacientes_com_vazamento_de_dados = removendo_pacientes_com_vazamento_de_dados(dados)

Aplicando o ffill e o bfill para preencher os valores faltantes

In [197]:
# Criando uma coluna que irá se perder no agrupamento para preencher os valores faltantes
dados_sem_pacientes_com_vazamento_de_dados['PATIENT_VISIT_IDENTIFIER_2'] = dados_sem_pacientes_com_vazamento_de_dados['PATIENT_VISIT_IDENTIFIER']

# Realizando o agrupamento e preenchimento dos valores faltantes
dados_sem_valores_faltantes = dados_sem_pacientes_com_vazamento_de_dados.groupby('PATIENT_VISIT_IDENTIFIER_2', as_index=False).fillna(method='ffill').fillna(method='bfill')

# Visualizando os dados sem valores faltantes
dados_sem_valores_faltantes.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                         0            1  ...       0-2    0
1                         0            1  ...       2-4    0
2                         0            1  ...       4-6    0
3                         0            1  ...      6-12    0
4                         0            1  ...  ABOVE_12    1

[5 rows x 231 columns]

In [198]:
# Visualizando que não existem mais valores faltantes
dados_sem_valores_faltantes.isnull().sum().sum()

0

## Transformando os dados

Aqui iremos deixar o conjunto de dados no formato em que só teremos os exames da primeira janela. Na coluna ICU será representado caso o paciente tenha ido para a UTI, porém não importa em qual momento.

Aqui iremos utilizar apenas a janela 0-2 para prever.

In [239]:
def transforma_dados(dados_do_paciente):
  if np.any(dados_do_paciente['ICU']):
    dados_do_paciente.loc[dados_do_paciente['WINDOW'] == '0-2', 'ICU'] = 1
  df = dados_do_paciente.loc[dados_do_paciente['WINDOW'] == '0-2']
  return df.drop(['PATIENT_VISIT_IDENTIFIER', 'WINDOW'], axis=1)

dados_limpos = dados_sem_valores_faltantes.groupby('PATIENT_VISIT_IDENTIFIER').apply(transforma_dados).reset_index(drop=True)
dados_limpos.head()

   AGE_ABOVE65 AGE_PERCENTIL  ...  OXYGEN_SATURATION_DIFF_REL  ICU
0            1          60th  ...                          -1    1
1            0          10th  ...                -0,961262106    1
2            0          40th  ...                          -1    0
3            0          10th  ...                -0,980333069    0
4            0          10th  ...                -0,980129267    0

[5 rows x 229 columns]

In [240]:
# Salvando dados limpos e prontos para criação do modelo
dados_limpos.to_csv('/content/cleaned_data.csv', encoding='utf-8', index=True)